@import "../styles/Variable.scss";

.advice-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}
.advice-heading {
  color: $color_3;
  width: 50%;
  line-height: 44px;
  font-size: 30px;
  font-weight: 600;
}
