/* @import "../styles/Variable.scss"; */

.advice-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}
.advice-heading {
  color: black;
  width: 50%;
  line-height: 44px;
  font-size: 30px;
  font-weight: 600;
}
.advice-inside-container {
  width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0;
}
.advice-section {
  width: 100%;
    height: auto;
    padding: 48px 0;
}
.advice-section-container {
      width: 100%;
    height: auto;
    padding: 30px 52px 48px 26px;
    border-radius: 16px;
    background-color: #f5f5f5;
   
    box-shadow: 0 2px 4px 0 rgba(0,193,212,.1);
}
.advice-section-top{
      width: 100%;
    padding: 0 0 0 148px;
   
    position: relative;
}
.advice-section-heading {
      font-size: 24px;
    font-weight: 700;
    color: #303030;
    display: block;
    margin: 0;
    padding: 6px 0 12px;
    line-height: normal;
}
.heading-green {
  color: #009681;
}
.advice-section-subheading {
      color: #303030;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}
.advice-section-form {
  width: 100%;
    padding-left: 14px;
    min-height: 84px;
    display: flex;
}
/* .advice-section-form-group {
  width: 100%;
  display: flex;
    justify-content: space-between;
} */
.advice-section-form-col-group {
 
    display: flex;
    
}
.advice-form-col {
  width: 25%;
    margin-right: 32px;
}
.advice-section-form-row {
  width: 100%;
    min-height: 72px;
    position: relative;
    padding: 16px 0 0;
    
}
.advice-input {
  border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #303030;
    z-index: 2;
    outline: none;
    position: absolute;
    top: 16px;
    left: 0;
    padding: 0;
    font-family: Montserrat,Arial,sans-serif;
}