* {
	margin: 0;
	padding: 0;
  }
  
  body {
	background-color:white;
  }
  
  .pages {
	color: white;
	text-align: center;
	font-size: calc(1.5rem + 2vw);
	margin-top: 10%;
	
   
  }
  
  .navbar {
	background-color: #d8282a;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 20;
  }
  
  .nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	max-width: 1500px;
	
  }
  
  
  .main-container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
	color: white;
	align-items: center;
	margin-left: 25px;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.6rem;
	flex-grow: 1;
	justify-content: center;
	padding-bottom: 0.5em;
	

  }
  .nav-logo:hover{
	color:white;
  }
  .span1{
	display: flex;
	list-style: none;
	text-align: center;
	margin-right: 30rem;
	padding-bottom: 0.8em;
  }

  
  .nav-menu {
	display: flex;
	list-style: none;
	text-align: center;
	margin-right: 1.5rem;
  }
  
  .nav-links {
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: 100%;
	border-bottom: 3px solid transparent;
  }
  .nav-links:hover{
	color: white;
  }
  .fa-code {
	margin-left: 1rem;
  }
  
  .nav-item {
	line-height: 40px;
	margin-right: 1rem;
  }
  
  .nav-item:after {
	content: "";
	display: block;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
	width: 100%;
	background: white;
	
  }
  
  .nav-item.active {
	color: #ffdd40;
	border: 1px solid #ffdd40;
  }
  
  .nav-icon {
	display: none;
  }
  
  @media screen and (max-width: 960px) {
	
	.nav-menu {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	  border-top: 1pxsolid #fff;
	  position: absolute;
	  top: 80px;
	  left: -110%;
	  opacity: 1;
	  transition: all 0.5s ease;
	}
  
	.nav-menu.active {
	  background: #d8282a;
	  left: 0px;
	  opacity: 1;
	  transition: all 0.5s ease;
	  z-index: 1;
	}
	.nav-item .active {
	  color: #ffdd40;
	  border: none;
	}
	.nav-links {
	  padding: 1.5rem;
	  width: 100%;
	  display: table;
	}
  
	.nav-icon {
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  transform: translate(-100%, 60%);
	  font-size: 1.8rem;
	  cursor: pointer;
	  color: #ffdd40;
	}
  }


/* Subheader contents */
.subheader {
  padding: 0.5rem calc((100vw - 1000px) / 3);
  
}
.dropdown1 {
  float: left;
  overflow: hidden;
  width: max-content;
}

/* Dropdown button */
.dropdown1 .dropbtn1 {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  /* font-weight: bold; */
  padding: 14px 56px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content1 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
  display: block;
  
}