.helpcenter-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.helpcenter-main {
  font-size: 16px;
  width: 100%;
}

.helpcenter-title {
  font-weight: bold;
  font-size: 20px;
}

.helpcenter_list_content {
  width: 100%;
}

.helpcenter_list_content > li {
  font-size: 14px;
  margin-top: 10px;
}
