.login_main_header {
  height: 50px;
  background-color: #d8232a;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 5%);
}

.login_header_container {
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: #d8232a;
}

.login_header_logo {
  width: 160px;
  height: 40px;
  padding: 5px 10px 5px 10px;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  float: left;
  margin: 5px 0;
}

.login_webpage {
  width: 100%;
  min-height: 700px;
  height: auto;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.login_left {
  width: 32%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #f2f2f2;
  transition: all 0.5s ease;
}

.login_left_data {
  width: 100%;
  min-height: 700px;
  height: auto;
  background: url("../images/login bg2.jpg") no-repeat 0 0;
  background-size: cover;
  background-color: rgb(147, 136, 136);
  padding: 49px 50px 50px;
  position: relative;
  box-sizing: border-box;
}

.login_left_heading {
  display: block;
  font-weight: 400;
  font-size: 25px;
  font-family: sans-serif;
  line-height: 33px;
  color: #fff;
  margin-bottom: 20px;
}

.login_webpage ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.login_webpage li {
  width: 100%;
  height: auto;
  list-style: square;
  margin: 0;
  padding: 10px 0 10px 19px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 19px;
  position: relative;
}

.login_right {
  width: 68%;
  min-height: 700px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 0;
  background: url("../images/login bg1.png") repeat 25px top #f2f2f2;
  background-attachment: fixed;
  transition: all 0.5s ease;
}

.login_right_login {
  width: 405px;
  height: auto;
  position: relative;
  z-index: 2;
  background-color: #fff;
  margin: 30px auto 0;
  padding: 0;
  border-radius: 7px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
}

.login_container {
  padding: 11px 30px 30px;
  margin: 0;
  box-sizing: border-box;
  height: 600px;
}

.login_heading {
  font-size: 16px;
  font-family: sans-serif;
  color: #303030;
  font-weight: 600;
  padding-top: 11px;
  min-height: 37px;
  padding-bottom: 24px;
}

.login_wrapper {
  padding-bottom: 240px;
  position: relative;
}

.login-input-email,
.login-input-password {
  /* margin: 2px; */
  color: #969292;
  font-size: 16px;
  padding-bottom: 10px;
}

.login-input {
  height: 20px;
  font-size: 13px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 1px solid black;
  margin-bottom: 10px;
}

.login-form-submit {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  justify-content: center;
  background-color: #d8282a;
  color: white;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: all 0.1s;
}

.login-submit-button {
  margin-top: 10px;
}

.login_need {
  padding-top: 10px;
  text-align: right;
  font-size: 15px;
  color: #909090;
}

.login_using {
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #909090;
}

.login_with_social {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 32px;
  cursor: pointer;
}
.login_social1 span {
  padding: 2px;
  margin-bottom: 15px;
  font-family: sans-serif;
}
.login_social1 img {
  padding-top: 7px;
  padding-right: 4px;
  height: 23px;
  width: 23px;
}

.login_social2 span {
  padding: 2px;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.login_social2 img {
  padding-top: 7px;
  padding-right: 4px;
  height: 27px;
  width: 27px;
}

.login_signup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 25px;
  height: 140px;
  background-color: #f7f7f7;
  text-align: center;
  border-radius: 0 0 7px 7px;
}
.login_field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  margin: 0 auto;
}
.login-signup-text {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: sans-serif;
}

.login-signup-btn {
  padding: 5px;
  color: #d8282a;
  font-weight: bold;
  cursor: pointer;
}

.login_footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Open_Sans, Open Sans, Helvetica, Arial, sans-serif;
  display: block;
  background: #202730;
  height: 113px;
}

.login_inner_footer {
  text-align: center;

  font-size: 20px;
  font-family: sans-serif;
  color: hsla(0, 0%, 100%, 0.4);
  font-weight: 600;
  padding: 20px 0 0;
}

.login_footer_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 9px;
  line-height: 22px;
}

.login_footer_links span {
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.8);
  margin: 0 6px;
  position: relative;
}

/* media queries */

@media (max-width: 750px) {
  .login_webpage {
    min-height: 600px;
  }

  .login_left {
    width: 45%;
  }

  .login_left_data {
    padding: 20px;
  }

  .login_right {
    width: 55%;
    background: #fff;
    min-height: 600px;
    overflow-y: auto;
  }

  .login_container {
    padding: 10;
  }

  .login_wrapper {
    width: 95%;
  }

  .login_signup {
    bottom: -20px;
  }

  .login_main_header,
  .login_footer {
    display: none;
  }
}

@media (max-width: 480px) {
  .login_webpage {
    min-height: 550px;
  }

  .login_left {
    display: none;
  }

  .login_right {
    width: 100%;
  }

  .login_right_login {
    height: 480px;
  }

  .login_signup {
    background: none;
  }
}

@media (max-width: 360px) {
  .login_right {
    width: 100%;
  }
}
