.privacy-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.privacy-main {
  font-size: 16px;
}
.privacy-title {
  font-size: 20px;
}
.privacy-subtitle {
  font-weight: 600;
  font-size: 18px;
}
