.outer {
  width: 100%;
  max-height: 100%;
  box-shadow: lightgrey solid 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f5f5f5;
}

.inner {
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
  width: 100%;
  padding: 20px;
  padding-right: 0.25px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  margin: 20px;
}

.picOwner {
  height: 200px;
  padding-right: 15px;
}

.image {
  width: 300px;
  height: 150px;
  border-radius: 10px;
}

.owner {
  padding-top: 15px;
  font-size: 18px;
}

.middlePart {
  margin-left: 5px;
  margin-right: auto;
}

.realEstate {
  color: #009681;
  border: solid #009681;
  font-weight: bolder;
  padding-left: 2px;
  padding-right: 2px;
  height: fit-content;
  width: fit-content;
  line-height: 40px;
  margin-right: 10px;
}

.statusProperty {
  text-decoration: underline;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

.detailsProperty {
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.detailsInfo {
  display: flex;
}

.detailsImage {
  height: 37px;
  width: 20px;
  padding-top: 13px;
}

.description {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

.text {
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.value {
  font-size: 12px;
  margin: 1.5px;
  font-weight: bold;
}

.detailsHeading {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}

.contactSizePrice {
  background-color: #f5f5f5;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 15px;
  border-radius: 0px 15px 15px 0px;
  margin-right: 20px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  padding-bottom: 1px;
}

.pricePerSqft {
  font-size: 12px;
  padding: 15px;
  padding-top: 1px;
}

.contactOwner {
  padding-bottom: 10px;
}

.ownerDetails {
  background-color: #d82329;
  color: #ffffff;
  border-radius: 15px;
  width: 120px;
  padding-bottom: 10px;
  border-color: #d82329;
}

.getPhoneNo {
  padding-bottom: 10px;
}
.phoneDetails {
  background-color: #ffffff;
  color: #d82329;
  border-radius: 15px;
  width: 120px;
  padding-bottom: 10px;
  border-color: #d82329;
}

.feedback {
  text-decoration: underline;
  margin: 1px;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 5p;
  padding-left: 10px;
}
