$color_1: #009681;
$color_2: #ffffff;
$color_3: #d82329;
$background-color_1: #f5f5f5;
$background-color_2: white;
$background-color_3: #d82329;
$background-color_4: #ffffff;
$border-color_1: #d82329;
$width: 100%;

.outer {
	width: $width;
	max-height: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	background-color: $background-color_1;
}
.inner {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	width: $width;
	padding: 20px;
	padding-right: 0.25px;
	background-color: $background-color_2;
	display: flex;
	justify-content: flex-start;
	border-radius: 20px;
	margin: 20px;
}
.pic-owner {
	height: 200px;
	padding-right: 15px;
}
.image {
	width: 247px;
	border-radius: 10px;
}
.owner {
	padding-top: 5px;
	font-size: 18px;
}
.middle-part {
	margin-left: 5px;
	margin-right: auto;
	width: 550px;
}
.real-estate {
	color: $color_1;
	font-weight: bolder;
}
.status-property {
	cursor: pointer;
	font-size: 18px;
}
.details-property {
	background-color: $background-color_1;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}
.details-info {
	display: flex;
}
.details-image {
	height: 37px;
	width: 20px;
	padding-top: 13px;
}
.description {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
}
.text {
	font-size: 12px;
	margin-top: 1px;
	margin-bottom: 1px;
}
.value {
	font-size: 12px;
	margin: 1.5px;
	font-weight: bold;
}
.details-heading {
	padding: 10px 0px 2px 10px;
}
.contact-size-price {
	background-color: $background-color_1;
	width: 15%;
	padding: 20px;
	padding-bottom: 0px;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
	margin-right: 20px;
}
.price {
	font-size: 20px;
	font-weight: bold;
}
.price-persqft {
	font-size: 12px;
}
.owner-details {
	background-color: $background-color_3;
	color: $color_2;
	border-radius: 15px;
	margin: 5px;
	padding: 0px 5px 5px;
	border-color: $border-color_1;
}
.phone-details {
	background-color: $background-color_4;
	color: $color_3;
	border-radius: 15px;
	margin: 5px;
	padding: 0px 5px 5px;
	border-color: $border-color_1;
}
.feedback {
	cursor: pointer;
	font-size: 15px;
}
@media (max-width: 1024px) {
	.owner {
		padding: 5px;
	}
	.details-property {
		padding-left: 10px;
		padding-right: 10px;
		// width: max-content;
	}
	.contact-size-price {
		margin-left: 93px;
		width: 20%;
		margin-right: 23px;
	}
}
@media (max-width: 820px) {
	.image {
		width: 175px;
		height: 175px;
	}
	.middle-part{
		width: 684px;
	}
	.contact-size-price {
		padding: 10px;
		width: 37%;
		margin-left: 20px;
		margin-right: 29px;
	}
}
@media (max-width: 750px) {
	.image {
		width: $width;
		height: auto;
	}
	.inner {
		display: block;
	}
	.middle-part {
		padding-top: 300px;
	}
	.details-property {
		margin-right: 20px;
	}
}
@media (max-width: 480px) {
	.image {
		width: $width;
		height: auto;
	}
	.inner {
		width: 90%;
	}
	.middle-part {
		padding-top: 70px;
		padding-right: 8px;
		width: 310px;
	}
	.details-property {
		height: max-content;
		width: 95%;
	}
	.contact-size-price {
		height: max-content;
		width: 90%;
		margin-left: 5px;
	}
}
@media (max-width: 360px) {
	.inner {
		display: block;
	}
	.middle-part {
		padding-top: 70px;
	}
	.image {
		width: $width;
		height: auto;
	}
	.details-property {
		display: block;
		width: 90%;
		height: 200px;
		padding-left: 60px;
	}
}
