.register_main_header {
  height: 50px;
  background-color: #d8232a;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 5%);
}

.register_header_container {
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: #d8232a;
}

.register_header_logo {
  width: 160px;
  height: 40px;
  padding: 5px 10px 5px 10px;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  float: left;
  margin: 5px 0;
}

.register_webpage {
  width: 100%;
  min-height: 700px;
  height: auto;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.register_left {
  width: 32%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #f2f2f2;
  transition: all 0.5s ease;
}

.register_left_data {
  width: 100%;
  min-height: 700px;
  height: auto;
  background: url("../images/login bg2.jpg") no-repeat 0 0;
  background-size: cover;
  background-color: rgb(147, 136, 136);
  padding: 49px 50px 50px;
  position: relative;
  box-sizing: border-box;
}

.register_left_heading {
  display: block;
  font-weight: 400;
  font-size: 25px;
  font-family: sans-serif;
  line-height: 33px;
  color: #fff;
  margin-bottom: 20px;
}

.register_webpage ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.register_webpage li {
  width: 100%;
  height: auto;
  list-style: square;
  margin: 0;
  padding: 10px 0 10px 19px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 19px;
  position: relative;
}

.register_right {
  width: 68%;
  min-height: 700px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 0;
  background: url("../images/login bg1.png") repeat 25px top #f2f2f2;
  background-attachment: fixed;
  transition: all 0.5s ease;
}

.register_right_register {
  width: 405px;
  height: 625px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  margin: 30px auto 0;
  padding: 0;
  border-radius: 7px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
}

.register_container {
  padding: 11px 30px 30px;
  margin: 0;
  height: 500px;
  box-sizing: border-box;
}

.register_heading {
  font-size: 16px;
  font-family: sans-serif;
  color: #303030;
  font-weight: 600;
  padding-top: 11px;
  min-height: 37px;
  padding-bottom: 24px;
}

.register_wrapper {
  padding-bottom: 240px;
  position: relative;
}

.register-input-name,
.register-input-email,
.register-input-phone,
.register-input-password,
.register-input-cpassword {
  margin: 2px;
  color: #969292;
  font-size: 16px;
  padding: 5px;
}

.register_person_details .register_person_title {
  font-size: 14px;
  margin: 2px;
  color: #969292;
  font-weight: 500;
  font-family: sans-serif;
}

.register_personN {
  margin: 2px;
  color: #7b7676;
  font-size: 16px;
  padding: 5px;
  font-family: sans-serif;
}

.register_category {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: space-between;
}

.register_category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.register_category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .register_category label .one,
#dot-2:checked ~ .register_category label .two,
#dot-3:checked ~ .register_category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

.register-input {
  height: 20px;
  font-size: 13px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 1px solid black;
  margin-bottom: 20px;
}

.register-category {
  display: flex;
  justify-content: space-evenly;
}

.register-error-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #d8282a;
  font-size: 10px;
}

.register-form-submit {
  display: flex;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  justify-content: center;
  background-color: #d8282a;
  color: white;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: all 0.1s;
}

.register-submit-button {
  margin-top: 10px;
}

.register-signin-text {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: sans-serif;
}

.register-signin-btn {
  padding: 5px;
  color: #d8282a;
  font-weight: bold;
  cursor: pointer;
}

.register_footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Open_Sans, Open Sans, Helvetica, Arial, sans-serif;
  display: block;
  background: #202730;
  height: 113px;
}

.register_inner_footer {
  text-align: center;

  font-size: 20px;
  font-family: sans-serif;
  color: hsla(0, 0%, 100%, 0.4);
  font-weight: 600;
  padding: 20px 0 0;
}

.register_footer_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 9px;
  line-height: 22px;
}

.register_footer_links span {
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.8);
  margin: 0 6px;
  position: relative;
}

/* media queries */

@media (max-width: 750px) {
  .register_webpage {
    min-height: 600px;
  }

  .register_left {
    width: 45%;
  }

  .register_left_data {
    padding: 20px;
  }

  .register_right {
    width: 55%;
    background: #fff;
    min-height: 600px;
    overflow-y: auto;
  }

  .register_container {
    padding: 10;
  }

  .register_wrapper {
    width: 95%;
  }

  .register_signup {
    bottom: -20px;
  }

  .register_main_header,
  .register_footer {
    display: none;
  }
}

@media (max-width: 480px) {
  .register_webpage {
    min-height: 550px;
  }

  .register_left {
    display: none;
  }

  .register_right {
    width: 100%;
  }

  .register_right_register {
    height: 550px;
    width: 390px;
  }

  .register_signup {
    background: none;
  }
}

@media (max-width: 360px) {
  .register_right {
    width: 100%;
  }
}
