// $color_1: #d8232a;
// $color_2: #ffffff;
// $background-color_1: $color_2;
// $background-color_2: #d82329;
// $border-color_1: #d82329;
// $border: $color_2;
// $padding-top: 10px;
// $padding-left: 5px;
// $padding-right: 78px;

@import "../styles/Variable.scss";

$color-2: #d8232a; // COLOR-1
$color-1: #ffffff; // COLOR-2
$background-color-1: $color-1;
$background-color-2: $color-7;
$border-color-1: $color-7;
$border: $color-1;
$padding-top: 10px;
$padding-left: $padding;
$padding-right: 78px;

.search-outer {
	width: 70%;
	display: flex;
	border-radius: 40px;
	padding: 5px;
	margin-left: 15%;
	background-color: $background-color-1;
	border-style: solid;
	border-width: thin;
	justify-content: space-between;
}
.search-city {
	padding-top: $padding-top;
}
.search-flat {
	padding-top: $padding-top;
}
.search-budget {
	padding-top: $padding-top;
	padding-right: 25px;
}

.fonticon.fa {
	color: $color-2;
	padding-left: 10px;
	transform: scale(1.1);
}
.searchicon.fa {
	color: $color-1;
	height: 10px;
	width: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 10px;
	transform: scale(1.1);
}
.search {
	background-color: $background-color-2;
	color: $color-1;
	border-radius: 40px;
	padding: 10px 36px 10px 50px;
	margin-left: -31px;
	border-color: $border-color-1;
	font-weight: 600;
}
.drpdwn1 {
	padding-right: $padding-right;
	padding-left: $padding-left;
	border: $border;
}
.drpdwn2 {
	padding-right: $padding-right;
	padding-left: $padding-left;
	border: $border;
}
.drpdwn3 {
	border: $border;
	padding-right: 68px;
	padding-left: $padding-left;
}
.search-button {
	margin-left: -41px;
	padding: 3px;
	padding-left: 29px;
}
@media (max-width: 360px) {
	.search-outer {
		display: block;
		padding-right: 10px;
	}
	.search-budget {
		padding-bottom: 20px;
	}
	.search-button {
		margin-left: 30px;
	}
}
@media (max-width: 480px) {
	.search-outer {
		display: block;
	}
	.search-flat {
		display: flex;
	}
	.drpdwn1 {
		width: 198px;
	}
	.drpdwn2 {
		width: 192px;
	}
	.drpdwn3 {
		width: 198px;
	}
	.search-button {
		margin-left: 90px;
		margin-top: 10px;
	}
}
@media (max-width: 768px) {
	.search-budget {
		padding-right: 30px;
	}
}
@media (max-width: 912px) {
	.search-outer {
		width: 90%;
		margin-left: 5%;
	}
}
