.search_outer {
  width: 70%;
  display: flex;
  border-radius: 40px;
  flex-wrap: wrap;
  padding: 5px;
  margin-left: 30px;
  flex-direction: row;
  background-color: #ffffff;
  border-style: solid;
  border-width: thin;
  justify-content: space-around;
}

.search_city {
  padding-top: 10px;
}

.search_flat {
  width: 160px;
  padding-top: 10px;
}

.search_budget {
  padding-top: 10px;
  padding-right: 25px;
}

.fontIcon.fa {
  color: #d8232a;
  padding-left: 10px;
  transform: scale(1.1);
}

.searchIcon.fa {
  color: white;
  height: 10px;
  width: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 10px;
  transform: scale(1.1);
}

.search {
  background-color: #d82329;
  color: #ffffff;
  border-radius: 40px;
  padding-left: 50px;
  margin-left: -31px;
  padding-right: 36px;
  border-color: #d82329;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
}

.drpdwn {
  padding-right: 78px;
  padding-left: 5px;
  border: white;
}

.drpdwn1 {
  border: white;
  padding-right: 68px;
  padding-left: 5px;
}

.search_button {
  margin-left: -41px;
  padding-left: 29px;
}

/* media queries */
@media (max-width: 360px){
  .search_outer{
    display: block;
  }
  
  .search_budget{
    padding-bottom: 20px;
  }
  
  .search_button{
    margin-left: 30px;
  }
}

@media (max-width: 480px){
  .search_outer{
    display:block;
  }

  .search_button{
    margin-left: 50px;
    margin-top: 10px;
  }

}

@media (max-width: 768px){
  .search_outer{
    width: 90%;
  }

  .search_budget{
    padding-right: 30px;
  }
}

@media (max-width: 912px){
  .search_outer{
    width: 90%;
  }
}



