.search-outer {
  width: 70%;
  display: flex;
  border-radius: 40px;
  padding: 5px;
  margin-left: 15%;
  background-color: #ffffff;
  border-style: solid;
  border-width: thin;
  justify-content: space-between;
}

.search-city {
  padding-top: 10px;
}

.search-flat {
  padding-top: 10px;
}

.search-budget {
  padding-top: 10px;
  padding-right: 25px;
}

.fonticon.fa {
  color: #d8232a;
  padding-left: 10px;
  transform: scale(1.1);
}

.searchicon.fa {
  color: white;
  height: 10px;
  width: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 10px;
  transform: scale(1.1);
}

.search {
  background-color: #d82329;
  color: #ffffff;
  border-radius: 40px;
  padding: 10px 36px 10px 50px;
  margin-left: -31px;
  border-color: #d82329;
  font-weight: 600;
}

.drpdwn1 {
  padding-right: 78px;
  padding-left: 5px;
  border: white;
}

.drpdwn2 {
  padding-right: 78px;
  padding-left: 5px;
  border: white;
}

.drpdwn3 {
  border: white;
  padding-right: 68px;
  padding-left: 5px;
}

.search-button {
  margin-left: -41px;
  padding: 3px;
  padding-left: 29px;
}

/* media queries */

@media (max-width: 360px) {
  .search-outer {
    display: block;
    padding-right: 10px;
  }

  .search-budget {
    padding-bottom: 20px;
  }

  .search-button {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  .search-outer {
    display: block;
  }

  .search-flat {
    display: flex;
  }

  .drpdwn1 {
    width: 198px;
  }

  .drpdwn2{
    width: 192px;
  }

  .drpdwn3 {
    width: 198px;
  }

  .search-button {
    margin-left: 90px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .search-budget {
    padding-right: 30px;
  }
}

@media (max-width: 912px) {
  .search-outer {
    width: 90%;
    margin-left: 5%;
  }
}
