.terms-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  /* font-size: 1.5rem; */
}
.terms-main {
  font-size: 16px;
}

.terms-title {
  font-weight: bold;
  font-size: 20px;
}

.terms_list_content {
  width: 100%;
}

.terms_list_content > li {
  font-size: 14px;
  margin-top: 10px;
}
